<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="/css/styles.css" rel="stylesheet">
        <title id="title"><%=title%></title>
        <script defer language="JavaScript" type="text/javascript" src="/index.js"></script>

        <%- include('./include/head.ejs') %>

    </head>

    <body id="bodyElement">

        <h1><%=heading1%></h1>

        <p id="code">Code: <%=code%></p>
        <p id="message">Message: <%=code%></p>
        <a id="back" class="btn btn-sm btn-primary" href="/">Back</a>


    </body>

    <script defer language="JavaScript" type="text/javascript" src="/index.js" defer></script>
</html>